nav {
  background: white;
  a {
    color: black;
    text-transform: uppercase;

    font-weight: bold;
  }
  @media only screen and (min-width: 768px) {
    flex-direction: column !important;

    align-items: flex-start !important;
    width: 220px;
    height: 100vh;

    margin-right: 0 !important;
    background: white;
    .navbar-nav {
      flex-direction: column !important;
      justify-content: space-around;
      height: 200px;
      a {
        padding: 0 !important;
      }
    }
  }
}
