@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Caladea";
  src: url("../fonts/Caladea-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
}

p {
  font-family: "Caladea";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Montserrat";
}
