.info-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    p {
      max-width: 440px;
    }
  }

  &.contact {
    .content {
      display: flex;
      flex-direction: column;

      a,
      p {
        width: 80vw;
        max-width: 440px;
      }

      a {
        text-align: right;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    flex-direction: row;
    height: auto;

    .content {
      margin: 64px 0 0 30px;
    }

    &.contact {
      .content {
      }
    }
  }
}
